body {
  background-color: black;
  color: SeaShell;
  opacity: 0.9;
  font-size: 22px;
  font-family: Helvetica;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.flex-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid SeaShell;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: black;
}

nav {
  color: SeaShell;
  text-align: right;
  flex-grow: 1;
}

a {
  color: SeaShell;
  padding: 10px;
}

header img {
  height: 50px;
  padding-left: 10px;
  text-align: left;
}

.mission.flex-display {
  align-items: center;
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  padding-top: 70px;
}

h2, h4 {
  display: block;
  margin: 0;
  padding: 10px;
}

.text-content {
  width: 1200px;
  background-color: black;
}

.featured-text {
  display: flex;
  flex-direction: column;
}

.featured.flex-display {
  display: flex;
  height: 700px;
  width: 1000px;
  padding-top: 70px;
  margin: auto;
}

.featured-list {
  display: inline-flex;
  max-width: 1000px;
  justify-content: center;
  flex-wrap: wrap;
}

.list-item {
  padding-bottom: 20px;
}

.list-item img {
  height: 200px;
  width: 300px;
  margin: 15px;
}

.list-item span {
  display: block;
  flex-wrap: wrap;
}

.locations.flex-display {
  background-image: url(../images/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  align-items: center;
  margin-top: 70px;
}

.locations-text {
  width: 1200px;
}

.locations-list {
  display: flex;
  justify-content: space-around;
  margin-top: -150px;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  width: 300px;
  height: 250px;
  background-color: black;
  margin: 5px 20px;
  padding: 10px;
}

footer {
  height: 200px;
  background-color: black;
  color: white;
  font-weight: bold;
  padding-top: 5px
}

.copyright {
  text-align: left;
  padding-left: 20px;
}
